<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <title>{{ blog.title }}</title>
  <meta name="description" content="Kotlowski Graphics - St Cloud Minnesota Modern Web Development and Design. Local ">
  <meta name="author" content="Tyler Kotlowski - Kotlowski Graphics">
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'master.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md shadow">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="Kotlowski-Graphics-Circle.svg" width="30" height="30" class="d-inline-block align-top" alt="Kotlowski-Graphics-Logo">
        Kotlowski Graphics
      </a>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li><a class="mx-2" href="https://twitter.com/NANOVlTA"><img src="{% static 'twitter-logo-silhouette.svg' %}" width="20" height="20" alt="Twitter Link"></a></li>
        <li><a class="mx-2" href="https://github.com/nanonzt"><img src="{% static 'github-logo-silhouette.svg' %}" width="20" height="20" alt="Github Link"></a></li>
        <li><a class="mx-2" href="mailto:kotlowski.graphics@gmail.com"><img src="{% static 'mail-logo-silhouette.svg' %}" width="20" height="20" alt="Mail Link"></a></li>
      </ul>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Portfolio</a>
          <a class="nav-item nav-link" href="{% static 'TylerResume.pdf' %}">Resume</a>
          <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
          <a class="nav-item nav-link" href="https://github.com/nanonzt">Github</a>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="container text-center">
      <h2 class="text-center py-3">{{ blog.title }}</h2>
      <hr />
      <p class="text-center">{{ blog.pubdate }}</p>
      <br />
      <img class="img-fluid" src="{{ blog.image.url }}" />
      <br />
      <br />
      <br />
      <p>{{ blog.body }}</p>
      <a href="https://github.com/Nanonzt/Projects/" class="btn btn-success my-1">Code</a>
    </div>
  </main>

  <footer>
    <div class="info">
      <p style="color: #3A2F60;">St Cloud Minnesota<br />
        Jack of All Trades</p>
      </div>
      <div class="copyright">
        <p style="color: #3A2F60;">Kotlowski Graphics
          <script type="text/javascript">
          var today = new Date()
          var year = today.getFullYear()
          document.write(year)
          </script>
        </p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
  </html>
